* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
}

:root {
    --corPrincipal: #e484f7;
    --corSecundaria: #111;
}